---
import Wrapper from "../containers/Wrapper.astro"
import Logo from "../elements/Logo.astro"
import RichText from "../elements/RichText.astro"

const { blok } = Astro.props
---

<section class="bg-sky-950">
  <Wrapper
    variant="standard"
    class="py-8 lg:py-0 lg:border-x lg:border-white/10">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-8 gap-x-20">
      <div class="bg-sky-800 p-8 lg:-mt-26 z-10 relative overflow-hidden">
        <div class="relative flex flex-col justify-between h-full prosed-white">
          <Logo />
          <RichText content={blok.contactText} />
        </div>
      </div>
      <div class="lg:col-span-2 py-12 lg:py-24 max-w-xl prosed-white">
        <RichText content={blok.introText} />
      </div>
    </div>
  </Wrapper>
</section>
