---
import Wrapper from "../containers/Wrapper.astro"
import RichText from "../elements/RichText.astro"
// Components
import ServiceCard from "./utils/ServiceCard.astro"

const { blok } = Astro.props
const nbOfServices = blok.services.length
---

<section class="pb-24">
  {
    blok.intro && (
      <Wrapper variant="standard" class="max-w-none">
        <div class="grid grid-cols-1 gap-12 prosed-black">
          <RichText content={blok.intro} />
        </div>
      </Wrapper>
    )
  }

  <div
    class={`mt-12 px-8 grid grid-cols-1 gap-x-8 gap-y-12 lg:grid-cols-4 services-${nbOfServices}`}>
    {blok.services.map((service) => <ServiceCard service={service} />)}
  </div>
</section>

<style>
  @reference "../../styles/global.css";

  .services-2 {
    @apply lg:grid-cols-2;
  }
  .services-3 {
    @apply lg:grid-cols-3;
  }
</style>
