<section class="bg-deep-navy py-16">
  <div
    class="max-w-container-max mx-auto px-margin-desktop grid grid-cols-1 md:grid-cols-3 gap-12 text-center">
    <div class="text-white">
      <span class="material-symbols-outlined text-4xl text-caution-gold mb-4"
        >verified</span
      >
      <h5 class="font-headline-md text-headline-md mb-2">10 ans de garantie</h5>
      <p class="text-white/70">
        Travaux couverts par notre assurance décennale.
      </p>
    </div>
    <div class="text-white">
      <span class="material-symbols-outlined text-4xl text-caution-gold mb-4"
        >handyman</span
      >
      <h5 class="font-headline-md text-headline-md mb-2">Expertise locale</h5>
      <p class="text-white/70">
        Une équipe de menuisiers qualifiés et passionnés.
      </p>
    </div>
    <div class="text-white">
      <span class="material-symbols-outlined text-4xl text-caution-gold mb-4"
        >thumb_up</span
      >
      <h5 class="font-headline-md text-headline-md mb-2">100% Satisfait</h5>
      <p class="text-white/70">Paiement du solde à la fin des travaux.</p>
    </div>
  </div>
</section>
